* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

a {
  font-size: 18px;
  color: white;
  font-weight: bolder;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  border: 10px black 1px;
  border-radius: 5px;

}
a:link {
  text-decoration: none;
  font-size: 18px;
  text-align: right;
}

a:hover {
  background-color: red;
  color: yellow;
}

body {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-weight: bolder;
  font-size: 26px;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  line-height: 30px;
  color: white;
  background: url("../images/layout.jpg");
  fill-opacity: initial;
  background-size: 100%;
}

.container {
  max-width: 400px;
  width: 50%;
  margin: 0 auto;
  position: relative;
  text-align: center;
}

#contact input[type="text"],
#contact input[type="email"],
#contact input[type="tel"],
#contact input[type="url"],
#contact textarea,
#contact button[type="submit"] {
  font: 400 12px/16px "Open Sans", Helvetica, Arial, sans-serif;
}

#contact {
  background: #f9f9f9;
  padding: 25px;
  margin: 30px 0;
  width: 100%;
  text-align: center;
}

#contact h3 {
  color: black;
  display: block;
  font-size: 30px;
  font-weight: bolder;
}

#contact h4 {
  margin: 5px 0 15px;
  display: block;
  font-size: 13px;
}

fieldset {
  border: medium none !important;
  margin: 0 0 10px;
  min-width: 100%;
  padding: 0;
  width: 100%;
}

#contact input[type="text"],
#contact input[type="email"],
#contact input[type="tel"],
#contact input[type="url"],
#contact textarea {
  width: 100%;
  border: 1px solid #ccc;
  background: #fff;
  margin: 0 0 5px;
  padding: 10px;
}

#contact input[type="text"]:hover,
#contact input[type="email"]:hover,
#contact input[type="tel"]:hover,
#contact input[type="url"]:hover,
#contact textarea:hover {
  -webkit-transition: border-color 0.3s ease-in-out;
  -moz-transition: border-color 0.3s ease-in-out;
  transition: border-color 0.3s ease-in-out;
  border: 1px solid #aaa;
}

#contact textarea {
  height: 100px;
  max-width: 100%;
  resize: none;
}

#contact button[type="submit"] {
  cursor: pointer;
  width: 100%;
  border: none;
  background: #0cf;
  color: #fff;
  margin: 0 0 5px;
  padding: 10px;
  font-size: 15px;
}

#contact button[type="submit"]:hover {
  background: #09c;
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}

#contact button[type="submit"]:active {
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
}

#contact input:focus,
#contact textarea:focus {
  outline: 0;
  border: 1px solid #999;
}
::-webkit-input-placeholder {
  color: #888;
}
:-moz-placeholder {
  color: #888;
}
::-moz-placeholder {
  color: #888;
}
:-ms-input-placeholder {
  color: #888;
}

header {
  font-family: Georgia, "Times New Roman", Times, serif;
  background-color: #ffffff;
  color: black;
  border-color: #cccccc;
  font-size: 24px;
  padding: 15px;
  font-weight: bolder;
}

header[role="banner"] .group {
  position: relative;
  max-width: 1080px;
  margin: 0 auto;
  padding: 20px 20px 0 20px;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-size: 18px;
    font-weight: 300;
    color: black;
    text-align: left;
    background-color: white;
}

div {
  font-size: 23px;
  color: white;
  font-weight: bolder;
  display: inline-block;
  position: relative;
  text-align: center;
}

#portfolio {
  font-size: 14px;
  color: black;
  line-height: 1.4;
  padding: 2px;
}

#form-control {
  border: 1px solid black;
}

article {
  backround-image: white;
  text-align: left;
  float: right;
  padding: 5px;
}

.card .card-text .card-heading {
  display: block;
  line-height: 18px;
  margin-bottom: 4px;
  text-align: right;
}

.container {
  max-width: 50%;
  height: auto;
  text-align: center;
}

img {
  border: 3 px solid black;
  border-radius: 3px;
}

#pics {
  text-align: center;
  padding: 15px;
}

#pics:hover {
  border: 3 px solid black;
  border-radius: 3px;
  cursor: pointer;
  background-image: linear-gradient(red, yellow);
}

button {
  font-size: 14px;
  color: yellow;
  padding: 3px;
  font-weight: bolder;
  cursor: pointer;
  outline: black;
  background-color: orangered;
  border: yellow;
  border-style: ridge;
  border-radius: 3px;
  margin: 10px;
  position: center;
}

#width {
  width: 960px;
  margin: 0 auto;
  background-color: #ffffff;
}

#contact {
  background-color: #ffffff;
  border-style: solid;
  border-color: lightgray;
  text-align: center;
  font-size: 20px;
  padding: 10px;
}

footer {
  background-color: #666666;
  text-align: center;
  color: white;
  border-top: 8px solid #4aaaa5;
}

.footer {
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
}

.wrapper {
  width: 1024px;
  margin: 40px auto;
}

@media only screen and (max-width: 980px) {
  body {
    max-width: 100%;
    height: auto;
  }
  .wrapper {
    width: 800px;
  }
}

@media only screen and (max-width: 768px) {
  body {
    max-width: 100%;
    height: auto;
  }
  .wrapper {
    width: 800px;
  }
}

@media only screen and (max-width: 640px) {
  body {
    max-width: 100%;
    height: auto;
  }
  header {
    position: static;
  }
  .wrapper {
    width: 600px;
  }
}
